(item: any) => item === null ? null : {{#isArray}}{{#uniqueItems}}new Set({{/uniqueItems}}(item as Array<any>).map({{#items}}{{>provider_enum_read}}{{/items}}){{#uniqueItems}}){{/uniqueItems}}{{/isArray}}{{^isArray}}{{datatype}}FromJSON(item){{/isArray}}
