{{#vendorExtensions.x-pennilogic-read-only-response}}{{classname}}{{/vendorExtensions.x-pennilogic-read-only-response}}{{^vendorExtensions.x-pennilogic-read-only-response}}{{#hasReadOnly}}Omit<{{classname}}, {{#readOnlyVars}}'{{name}}'{{^-last}}|{{/-last}}{{/readOnlyVars}}>{{/hasReadOnly}}{{^hasReadOnly}}{{classname}}{{/hasReadOnly}}{{/vendorExtensions.x-pennilogic-read-only-response}}