{{#isArray}}Array<{{#vendorExtensions.x-pennilogic-nullable-enum-items}}{{#items}}{{>wireEnumType}}{{/items}}{{/vendorExtensions.x-pennilogic-nullable-enum-items}}{{^vendorExtensions.x-pennilogic-nullable-enum-items}}{{#items}}{{>wireType}}{{/items}}{{/vendorExtensions.x-pennilogic-nullable-enum-items}}>{{/isArray}}{{#isMap}}Record<string, {{#items}}{{>wireType}}{{/items}}>{{/isMap}}{{^isArray}}{{^isMap}}{{#isPrimitiveType}}{{#isDateType}}string{{/isDateType}}{{#isDateTimeType}}string{{/isDateTimeType}}{{^isDateType}}{{^isDateTimeType}}{{{datatypeWithEnum}}}{{/isDateTimeType}}{{/isDateType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFreeFormObject}}unknown{{/isFreeFormObject}}{{^isFreeFormObject}}NonNullable<ReturnType<typeof {{datatype}}ToJSON>>{{/isFreeFormObject}}{{/isPrimitiveType}}{{/isMap}}{{/isArray}}{{#isNullable}} | null{{/isNullable}}{{^isNullable}}{{#vendorExtensions.x-pennilogic-nullable-enum}} | null{{/vendorExtensions.x-pennilogic-nullable-enum}}{{/isNullable}}