{{#vendorExtensions.x-pennilogic-success}}{{type}}{{/vendorExtensions.x-pennilogic-success}}{{^vendorExtensions.x-pennilogic-success}}{{{returnType}}}{{^returnType}}None{{/returnType}}{{/vendorExtensions.x-pennilogic-success}}